<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-item *ngIf="weather">
        {{weather.locationName}}
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label style="max-width: 100px">Change:</ion-label>
    <ion-item>
      <ion-select interface="popover" (ionChange)="handleFilter($event)" style="min-width: 300px">
        <ion-select-option value="zipCode">Zip Code</ion-select-option>
        <ion-select-option value="coordinates">Coordinates</ion-select-option>
        <ion-select-option value="cityState">City</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="locationSelectOption === 'zipCode'">
      <div class="zipcode">
        <ion-input type="text" [(ngModel)]="currentZipcode" placeholder="Zip"></ion-input>
      </div>
      <div class="button">
        <ion-button (click)="submitZipCode($event)">Submit</ion-button>
      </div>
    </ion-item>
    <ion-item *ngIf="locationSelectOption === 'coordinates'">
      <ion-input type="text" [(ngModel)]="currentLatitude" placeholder="Lat"></ion-input>
      <ion-input type="text" [(ngModel)]="currentLongitude" placeholder="Long"></ion-input>
      <ion-button (click)="submitGeolocation($event)">Submit</ion-button>
    </ion-item>
    <ion-item *ngIf="locationSelectOption === 'cityState'">
      <ion-input type="text" [(ngModel)]="currentCity" placeholder="City"></ion-input>
      <ion-input type="text" [(ngModel)]="currentCountry" placeholder="Country Code"></ion-input>
      <ion-button (click)="submitCity($event)">Submit</ion-button>
    </ion-item>
  </ion-item>
  <ion-list *ngIf="weatherA">
    <ion-item *ngFor="let weather of weatherA" (click)="displayUserDetail(weather)">
      <ion-item *ngIf="weather">
        <ion-icon [name]="getConditions(weather)" slot="start"></ion-icon>
      </ion-item>
      <ion-datetime displayFormat="DDDD: MM-DD, h:mm A, " value="{{weather.date}}" readonly></ion-datetime>
       Conditions: {{ weather.conditionsForecast }}
    </ion-item>
  </ion-list>
  <ion-item *ngIf="weatherA === null">
    No forecast available
  </ion-item>
</ion-content>
